html, body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}
canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}
